.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    backdrop-filter: blur(10px);
    height: 40px;
}

.link{
    text-decoration: none;
}

.link:visited {
    color: yellow;
    text-decoration: none;
    border: 1px solid cyan;
}
.link:hover, .link:active {
    text-decoration: none;
  }