.group {
    display: flex;
}

.date{
    padding: 0 10px;
    font-weight: bold;
    width: 150px;
}

.place {
    font-weight: bold;
    align-items: left;
}

.position {
    display: flex;
    align-items: left;
}

.description {
    font-weight: normal;
    align-items: left;
}

.visible {
    display: block;
    font-weight: normal;
}

.hidden {
    display: none;
}